
# App
PORT=3000
NODE_ENV=development

# SQL Server
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASS=SuaSenha@123
DB_NAME=fleet_db

# JWT
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=1d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=60

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# MongoDB
MONGODB_URI=mongodb://localhost:27017/fleet_audit


# Seed
SEED_USER_NICKNAME=aivacol
SEED_USER_NAME=Aivacol Admin
SEED_USER_EMAIL=aivacol@aivacol.com
SEED_USER_PASSWORD=aivacol123



